<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Quick Feed | Querist</title>
    <link rel="stylesheet" href="/var/www/html/bootstrap/bs4/css/bootstrap.min.css"/>
</head>
<body>
<div class="container-fluid">
    <div class="content-area">
    {% if status %}
        <p style="color: #cc0000;">{{ status }}</p>
    {% endif %}
    {% if posts %}
        {% for post in posts %}
        <p>
            <i>{{ post[0] }}</i> said:<br/>
            {{ post[1] }}
        </p>
        <hr style="color: aqua;"/><br/>
        {% endfor %}
    {% endif %}
    </div>
</div>
</body>
</html>