{% extends "index.html" %}

{% block signup %}
    
    <div class="alert alert-danger">
        {{ errmsg }}
    </div>
    <div id="signup-form" class="some-bootstrap-class">
        <form action="{{ url_for('signup') }}" method="POST">
            <input type="text" name="name" placeholder="Your name" /><br/>
            <input type="text" name="username" placeholder="Set a username"><br/>
            <input type="password" name="passwd" placeholder="Set a password"/><br/>
            <input type="submit" name="submit"/>
        </form>
    </div>

{% endblock %}